<html>
    <head>
        <title>{% block title %} Asosiy qism {% endblock %}</title>
    </head>
    <body style="background-color: white;">




<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
          {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}



<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid" >
    <a class="navbar-brand" href="{% url 'users:landing' %}"  style="margin-left: 2%;"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAZlBMVEUWTDQJSC4AQCMARSoQSjFad2m1wLqBlYsAPB2Ropqzvrg/Y1H///8ALQDZ39xVdGV9kocAOBaaqaE2XktScWGPoJentK3EzcjR19R4joMAQSQANQ7s7+4AKABlgHIAMAAtWURthnkM4ktRAAAAq0lEQVR4AcXQRQLDQAwEwRWYJxwz//+RYY58C/S1FuX+HTGLE2a1zPP9IIxiPzFUAsCfzYEFGbi8oPeOxEdcLdfrjb4Q89ZLD8jCTC+2ynDIPnaV44rF64NoAaDU1MQqBrKVLE0Mc6CUCWQfWIcWXmaDRV2a6FYNHr6yfUbV/IJtA7wOXkPtyrLbsACgFzwwiRD1MdCsnJUOx9NHmcAMSENnp0ybyk2n7tvtAa7OC61Q7RNaAAAAAElFTkSuQmCC" alt="" style="border-radius: 8px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'users:landing' %}">Bosh saxifa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:profile' %}">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:profile_update' %}">Profile update</a>
        </li>

        <li class="nav-item dropdown">
<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> Hisob </button>





    <ul class="dropdown-menu">
            {% if request.user.is_authenticated %}
            
            <li><a class="dropdown-item" href="{% url 'users:profile' %}"><button type="button" class="btn btn-outline-primary">Hisob</button></a></li>
                 <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'users:logout' %}"><button type="button" class="btn btn-outline-danger">Chiqish</button></a></li>

            {% else %}
                <a href="{% url 'users:login' %}" class="btn btn-login"><button type="button" class="btn btn-outline-primary">Kirish</button></a>
                <li><hr class="dropdown-divider"></li>
                <a href="{% url 'users:register' %}" class="btn btn-register"> <button type="button" class="btn btn-outline-primary">Register</button></a>
            {% endif %}
          </ul>

          
        </li>
        <li class="nav-item">
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>




{% block content %} {% endblock %}



<!-- Header saxifasi uchun link/ -->
        {% include "header.html" %}


<!-- Footer saxifasi uchun link/ -->
        {% include "footer.html" %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>